.ico_brunch_v1 {
  background: url(//t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_v1_191224.png)
    no-repeat;
}

.lab_comm {
  padding-left: 5px;
  font-size: 13px;
  color: #666;
}

.layer_start {
  width: 340px;
  height: 400px;
  background: #fff;
  border-radius: 3px;
}

.layer_start .txt_start {
  line-height: 22px;
  text-align: center;
  overflow: hidden;
  color: #959595;
  font-size: 14.5px;
  font-weight: 300;
}

.layer_start_type1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -170px;
}

.list_start {
  margin-top: 100px;
}

.list_start li {
  overflow: hidden;
  margin-bottom: 15px;
}

.list_start .link_connect {
  cursor: pointer;
  display: flex;
  position: relative;
  width: 240px;
  height: 32px;
  color: #fff;
  font-size: 13px;
  line-height: 31px;
  border-radius: 16px;
}
.list_start .link_fb {
  background-color: #4267b2;
}
.list_start .link_tw {
  background-color: #1dadea;
}
.list_start .link_ka {
  background-color: #fae100;
}
.list_start .ico_fb {
  float: left;
  width: 15px;
  height: 15px;
  margin: 8px 9px 0 17px;
  background-position: -7px -29px;
}
.list_start .ico_tw {
  float: left;
  width: 16px;
  margin: 10px 8px 0 17px;
}
.list_start .ico_ka {
  float: left;
  width: 16px;
  margin: 9px 8px 0 17px;
}
.list_start .ico_tw {
  height: 12px;
  background-position: -30px -31px;
}
.list_start .ico_ka {
  height: 14px;
  background-position: -53px -30px;
}

.list_start .txt_fb {
  border-left: 1px solid #5e80bd;
}
.list_start .txt_tw {
  border-left: 1px solid #34b5ec;
}
.list_start .txt_ka {
  color: #3b1d1e;
  border-left: 1px solid #fee668;
}
.layer_start_type1 .wrap_find_user {
  height: 45px;
  text-align: center;
  line-height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f8f8f8;
}

@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.sign_kakao {
  animation-name: sign_kakao;
  animation-timing-function: 1s;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  width: 400px;
  height: 440px;
  margin: inherit;
  top: 50%;
  left: auto;
  right: 198px;
  margin-top: -250px;
  padding-top: 40px;
  box-sizing: border-box;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.08);
}
.sign_kakao .list_start {
  width: 260px;
  margin: 50px auto 0;
  padding: 0;
}

.sign_kakao .list_start li {
  margin-bottom: 6px;
}

.sign_kakao .list_start .txt_connect {
  width: 190px;
  padding: 5px 9px 0;
  border-left: none;
  text-align: center;
}
.sign_kakao .list_start li.remember-me {
  padding-top: 8px;
  padding-left: 0;
}
.sign_kakao .list_start li.remember-me .choice_comm .lab_comm {
  letter-spacing: 0;
}
.sign_kakao .link_ka {
  background: #ffe500;
  border: 1px solid #ffe500;
  color: #333;
}
.sign_kakao .link_fb,
.sign_kakao .link_tw {
  background: #fff;
  border: 1px solid #ddd;
  color: #666;
}
.sign_kakao .txt_start {
  overflow: visible;
  display: block;
  margin-top: 19px;
  /* font-family: "Nanum Myeongjo", sans-serif; */
  font-size: 24px;
  letter-spacing: -1px;
  color: #000;
}
.sign_kakao .ico_ka {
  width: 20px;
  height: 20px;
  background-position: -140px -570px;
  margin: 9px 8px 0 12px;
}
.sign_kakao .ico_fb {
  width: 20px;
  height: 20px;
  background-position: -160px -570px;
  margin: 8px 9px 0 11px;
}
.sign_kakao .ico_tw {
  width: 20px;
  height: 20px;
  background-position: -180px -570px;
  margin: 8px 8px 0 11px;
}
.sign_kakao .ico_signlogo {
  display: block;
  width: 52px;
  height: 52px;
  margin: 0 auto;
  background-position: -80px -580px;
}
.sign_kakao .link_connect {
  width: 260px;
  height: 40px;
  line-height: 30px;
  border-radius: 2px;
  box-sizing: border-box;
}
.sign_kakao .wrap_account {
  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
  border-top: 1px solid #eee;
  text-align: center;
}
.sign_kakao .wrap_account .find_user {
  font-size: 12px;
  color: #666;
  text-decoration: underline;
}
.sign_kakao .wrap_find_user {
  height: 70px;
  padding-top: 13px;
  font-size: 13px;
  box-sizing: border-box;
}
.sign_kakao .wrap_find_user .link_join {
  font-size: 13px;
  color: #333;
  display: block;
}
.layer_start_type1 .wrap_find_user a:hover {
  text-decoration: none;
}
@keyframes sign_kakao {
  from {
    opacity: 0;
    right: -400px;
  }
  to {
    opacity: 1;
    right: 198px;
  }
}
[class*="wrap_joinmsg"] .txt_join {
  margin-top: 18px;
  line-height: 20px;
  letter-spacing: -0.3px;
  font-family: "Noto Sans Light";
  color: #959595;
}
.join_theme {
  width: 100%;
  height: 100%;
  min-width: 1000px;
}
.join_theme .txt_join {
  margin-top: 18px;
  color: #959595;
}
.wrap_joinmsg1 {
  position: absolute;
  top: 133px;
  left: 65px;
  z-index: 1;
  opacity: 0;
}

.wrap_joinmsg2 {
  position: absolute;
  bottom: 60px;
  left: 65px;
  opacity: 0;
}
.wrap_joinmsg2 .tit_join {
  display: block;
  width: 170px;
  height: 112px;
  background: url(//t1.daumcdn.net/brunch9/static/images/pc/txt_sign2.png) 0 0
    no-repeat;
  font-size: 0;
  line-height: 0;
}
.obj_element2_1 {
  position: absolute;
  top: 245px;
  left: 104px;
  width: 134px;
  height: 169px;
  background: url(//t1.daumcdn.net/brunch9/static/images/pc/img_sign2_book.png)
    0 0 no-repeat;
  opacity: 0;
}
.obj_element2_2 {
  position: absolute;
  top: 0;
  left: 312px;
  width: 659px;
  height: 545px;
  background: url(//t1.daumcdn.net/brunch9/static/images/pc/img_sign2.png) 0 0
    no-repeat;
  opacity: 0;
}

.wrap_joinmsg3 {
  position: absolute;
  bottom: 60px;
  left: 65px;
  /* opacity: 0; */
  opacity: 1;
}
.wrap_joinmsg3 .tit_join {
  display: block;
  width: 185px;
  height: 112px;
  background: url(http://t1.daumcdn.net/brunch9/static/images/pc/txt_sign3.png)
    0 0 no-repeat;
  font-size: 0;
  line-height: 0;
}
.obj_element3_1 {
  position: absolute;
  top: 492px;
  left: 402px;
  width: 162px;
  height: 146px;
  background: url(http://t1.daumcdn.net/brunch9/static/images/pc/img_sign3_book.png)
    0 0 no-repeat;
  /* opacity: 0; */
  opacity: 1;
}
.obj_element3_2 {
  position: absolute;
  top: 0;
  left: 194px;
  width: 659px;
  height: 545px;
  background: url(http://t1.daumcdn.net/brunch9/static/images/pc/img_sign3.png)
    0 0 no-repeat;
  /* opacity: 0; */
  opacity: 1;
}
.motion_set3.motion_move .wrap_joinmsg3 {
  animation-name: wrap_joinmsg3;
}
.motion_set3.motion_move .obj_element3_1 {
  animation-name: obj_element3_1;
}
.motion_set3.motion_move .obj_element3_2 {
  animation-name: obj_element3_2;
  animation-delay: 0.3s;
  animation-duration: 0.6s;
}
.motion_set3.motion_move .obj_element3_1,
.motion_set3.motion_move .wrap_joinmsg3 {
  animation-delay: 0.1s;
  animation-duration: 0.6s;
}
.motion_set3.fade_out3 .wrap_joinmsg3 {
  animation-name: wrap_joinmsg3_out;
}
.motion_set3.fade_out3 .obj_element3_1 {
  animation-name: wrap_joinmsg3_1_out;
}
.motion_set3.fade_out3 .obj_element3_2 {
  animation-name: wrap_joinmsg3_2_out;
}

.show_motion * {
  opacity: 1;
}
.sign_kakao.show_motion {
  opacity: 1;
}
