.wrap__banner {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative;
  margin: 0px;
}

.item__banner {
  z-index: 2;
  display: block;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.list__banner {
  width: 100%;
  height: 480px;
  overflow: hidden;
  margin: 0;
  background-image: url("https://t1.daumcdn.net/section/oc/7fe9dff530ab4605a6723063a7dd8569");
  background-size: cover;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  display: block;
}

.txt__banner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -240px 0 0 -480px;
  width: 960px;
}

header {
  height: 60px;
}

.service__header {
  height: 60px;
  display: flex;
}

.header__inner {
  margin: 30px 30px 0;
  display: flex;
  justify-content: space-between;
}

.sidebtn__logo {
  display: flex;
}

.applybtn__search {
  display: flex;
}

.intro__brunch {
  width: 960px;
  height: 229px;
  margin: 0 auto;
}

.intro__brunch .tit__brunch {
  display: block;
  margin-top: 0;
  font-size: 40px;
  font-weight: 400;
  font-family: "Nanum Myeongjo", serif;
  color: #1a1a1a;
  text-align: left;
  letter-spacing: -0.09em;
  width: 100%;
  height: auto;
}

.part {
  display: block;
}

.ico__logo {
  width: 28px;
  height: 28px;
  margin: 1px 6px 0 5px;
  background-image: url("http://t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_v8_181004_v2.png");
  background-position: -120px -200px;
}

.intro__brunch .desc__brunch {
  padding-bottom: 16px;
  padding-top: -3px;
  font-size: 32px;
  line-height: 48px;
  font-family: "Nanum Myeongjo", serif;
  color: #cacaca;
  letter-spacing: -0.09em;
}

.editor__pic {
  position: relative;
  margin-top: 22px;
}

.editor__pic .wrap__btn .btn__brunch {
  margin-top: -50px;
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 100px;
  height: 100px;
}

.btn__prev {
  left: 30px;
}

.btn__next {
  right: 30px;
}

.btn__prev .ico__brunch {
  background-position: -167px -175px;
}

.btn__next .ico__brunch {
  background-position: -269px -175px;
}

.ico__brunch {
  display: block;
  width: 100px;
  height: 101px;
  background-image: url("http://t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_v8_181004_v2.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.wrap__slide {
  width: 960px;
  /* width:500px; */
  height: 520px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.list__slide {
  width: 900%;
  display: flex;
  padding: 0;
  position: absolute;
}

.item__pic {
  position: relative;
}
.item__pic__type1 {
  /* width: 50%; */
  height: 520px;
  background: #00c6bd;
}

.item__pic__type2__3 {
  width: 50%;
}
.item__pic__type2 {
  width: 100%;
  height: 260px;
  background: #bfbfbf;
}

.item__pic__type3 {
  width: 100%;
  height: 260px;
  background: #959595;
}

.item__pic__type4 {
  width: 100%;
  height: 260px;
  background: #bbb;
}

.wrap__pic {
  /* width: 960px; */
  width: 550px;
  overflow: hidden;
  /* display: flex;  */
  flex-wrap: wrap;
}

.wrap__pic2 .item__pic__type1 {
  width: 33.3%;
}

.wrap__pic2 .item__pic__type2 {
  width: 33.3%;
  height: inherit;
}

.wrap__pic2 .item__pic__type3 {
  width: 33.3%;
  height: inherit;
}

.wrap__pic3 {
  height: 100%;
}

.wrap__pic3 .item__pic__type1 {
  width: 50%;
  height: 50%;
}
.wrap__pic3 .item__pic__type2 {
  width: 50%;
  height: 50%;
}
.wrap__pic3 .item__pic__type3 {
  width: 50%;
  height: 50%;
}
.wrap__pic3 .item__pic__type4 {
  width: 50%;
  height: 50%;
}

.append__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin-left: -50%;
  color: #fff;
  text-align: center;
  z-index: 5;
}

.wrap__pic1 .item__pic__type1 .info__g {
  padding: 120px 50px;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 250px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.4;
}

.tit__pic {
  display: block;
  padding-top: 12px;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.1em;
  font-family: "Nanum Myeongjo", serif;
}

.txt__pic {
  display: block;
  padding-top: 9px;
  line-height: 20px;
  font-family: "Noto Sans KR";
  font-size: 12px;
}

.info__g .info__by {
  padding-top: 30px;
  font-size: 12px;
  font-family: "Noto Sans KR";
  color: #fff;
  opacity: 0.8;
}

.wrap__paging {
  width: 960px;
  margin: 22px auto 0;
  text-align: center;
}

.wrap__paging .link__page {
  display: inline-block;
  /* height: 31px; */
  padding: 0 11px;
  vertical-align: top;
  outline: none;
  border: none;
  cursor: pointer;
}

/* .wrap__paging span .img__page {
  height: 12px;
  margin-top: 8px;
} */
.wrap__paging .img__page {
  display: block;
  overflow: hidden;
  width: 13px;
  height: 9px;
  margin-top: 10px;
}

.wrap__paging .txt__page1 {
  background-position: 0 -10px;
}

.wrap__paging .txt__page2 {
  background-position: -20px 0;
}

.wrap__paging .txt__page3 {
  background-position: -40px 0;
}

.wrap__paging .txt__page4 {
  background-position: -60px 0px;
}

.wrap__paging .txt__page5 {
  background-position: -80px 0px;
}

.wrap__paging .txt__page6 {
  background-position: -100px 0px;
}

.wrap__paging .txt__page7 {
  background-position: -120px 0px;
}

.wrap__paging .txt__page8 {
  background-position: -140px 0px;
}

.wrap__paging .txt__page9 {
  background-position: -160px 0px;
}

.img__page {
  background-image: url("http://t1.daumcdn.net/brunch/static/img/help/pc/top/img_paging.v2.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.keywords {
  width: 960px;
  margin: 0 auto;
  height: 450px;
}

.tit__brunch {
  width: 266px;
  height: 13px;
  margin: 150px auto 0;
  background-position: -101px -300px;
}

.txt__brunch {
  display: block;
  background-image: url("http://t1.daumcdn.net/brunch9/static/images/pc/txt_brunch_v5_181004_v2.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.desc__brunch {
  width: 960px;
  margin: 0 auto;
}

.keywords .desc__brunch .txt__brunch {
  width: 149px;
  height: 11px;
  background-position: -175px 0;
  margin: 17px auto 0;
}

.keyword__list__wrap {
  width: 100%;
  overflow-x: auto;
}

.keyword__list {
  width: 960px;
  height: 363px;
  margin: 46px auto 0;
  position: relative;
}

.keyword__list__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.keyword__list__flex {
  display: flex;
}
.keyword__item {
  /* position: absolute; */
  /* width: 119px; */
  height: 119px;
  text-align: center;
  border: 1px solid #eee;
  z-index: 1;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
  font-family: "Noto Sans KR";
}

.keyword__item__txt {
  position: relative;
}

/* 브런치 추천 작가 전체 영역 */
.brunch__writers {
  margin: 150px auto;
  padding-top: 100px;
  background: #fafafa;
  padding-bottom: 100px;
}

/* 브런치 추천 작가 타이틀 */
.brunch__writers .tit__brunch {
  margin-top: 0;
  width: 258px;
  height: 13px;
  background-position: 0 -175px;
}

/* 브런치 추천 작가 서브타이틀 */
.brunch__writers .desc__brunch .txt__brunch {
  width: 84px;
  height: 11px;
  margin: 15px auto 0;
  background-position: -270px -70px;
}

/* 브런치 추천 작가 키워드 버튼 감싸는 영역*/
.writer__keyword__wrap {
  margin-top: 43px;
  background: 0 0;
  text-align: center;
}

/* 브런치 추천 작가 키워드 버튼 영역, 나중에 따로 오버라이딩 할 예정*/
.writer__keyword__wrap .applybtn {
  color: #959595;
  border: 1px solid #eee;
  padding: 7px 16px 6px;
  font-size: 15px;
  width: auto;
  height: auto;
  font-family: "Noto-Sans KR";
  line-height: 18px;
  margin: 0 2px;
}

.applybtn.active {
  color: #00c6bd;
  border-color: #00c6bd;
}

.wrap__writers {
  width: 1000px;

  margin: 50px auto 85px;
}

.list__writers {
  display: grid;
  /* height: 800px; */
  /* overflow: hidden; */
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
}
.list__writers:nth-of-type(2) {
  padding-bottom: 100px;
}

.list__writers li {
  position: relative;
  width: 310px;
  text-align: center;
}

.link__writers {
  display: block;
  min-height: 288px;
  padding: 46px 40px;
  background: #fff;
  text-decoration: none;
}

.thumb__img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  display: block;
}

.tit__writer {
  color: #666;
  display: block;
  font-weight: 300;
  max-height: 57px;
  padding: 17px 12px 0;
  font-size: 20px;
  font-family: "Nanum Myeongjo", serif;
  line-height: 28px;
  letter-spacing: -0.02em;
  white-space: normal;
  word-break: keep-all;
}

.team__writer {
  display: block;
  overflow: hidden;
  margin-top: 4px;
  font-weight: 300;
  font-family: "Noto Sans KR";
  color: #666;
  letter-spacing: -0.02em;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.txt__writer {
  display: block;
  margin-top: 16px;
  padding: 0;
  font-weight: 300;
  line-height: 20px;
  color: #959595;
  opacity: 1;
  font-size: 12px;
}

.writer__keyword__wrap {
  margin-top: 43px;
  background: 0 0;
  text-align: center;
}

.keyword__inside__wrap {
  /* position: absolute; */
  width: 100%;
  bottom: 46px;
  line-height: 18px;
  color: #959595;
}

.writer__keyword__wrap .keyword__item {
  display: inline-block;
  width: 65px;
  height: 30px;
  overflow: hidden;
  margin: 0 2px;
  border: 1px solid #eee;
  padding: 4px 10px;
  border-color: #ddd;
  line-height: 18px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 12px;
  font-family: "Noto Sans KR";
  letter-spacing: -1px;
}

.recommend_articles__btn .btn__prev,
.btn__next {
  position: absolute;
  margin-top: -250px;
}

/*중간 배너 영역*/
.ad__banner {
  display: block;
  width: 960px;
  height: 140px;
  margin: 97px auto 0;
  background-image: url("https://t1.daumcdn.net/section/oc/e0d9e92ea70941b9a4861c128751fc48");
}

.ad__banner img {
  width: 100%;
}

/* 추천 글 영역  */
.rec__articles {
  position: relative;
  height: 845px;
  font-family: "Noto-sans KR";
}

.rec__articles .wrap__slide {
  background: none;
}

.rec__articles .tit__brunch {
  width: 380px;
  height: 13px;
  margin-top: 152px;
  background-position: 0 -225px;
  position: unset;
}

.rec__articles .desc__brunch {
  width: 960px;
  margin: 0 auto;
}

.rec__articles .desc__brunch .txt__brunch {
  width: 162px;
  height: 11px;
  margin: 17px auto 47px;
  background-position: 0 -75px;
  position: unset;
}

.rec__articles .wrap__slide {
  overflow: visible;
  width: 960px;
  position: relative;
}

.rec__articles .list__slide {
  width: 7800px;
  position: relative;
  padding-left: 0;
}

.rec__articles .list__slide li {
  display: inline-block;
  width: 240px;
  padding: 0 10px;
  font-family: "Noto-sans KR";
  vertical-align: top;
}

.rec__articles .link__slide {
  display: block;
  text-decoration: none;
  color: inherit;
}

.rec__articles .img__articles {
  max-height: 320px;
  overflow: hidden;
  margin-bottom: 22px;
}

.rec__articles .tit__subject {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.15em;
  word-break: break-all;
  color: #333;
}

.rec__articles .desc__subject {
  display: inline-block;
  max-height: 300px;
  overflow: hidden;
  padding-top: 10px;
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
  color: #959595;
  text-align: justify;
}

.rec__articles .info__by {
  padding-top: 22px;
  color: #959595;
  display: block;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.ico__by {
  color: #fff;
  padding-right: 3px;
}
.rec__articles .ico__by {
  margin-top: 3px;
  width: 14px;
  height: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #bfbfbf;
  font-size: 12px;
  padding-right: 3px;
}

/* 푸터 영역 */
.foot__brunch {
  width: 100%;
  height: 320px;
  background-color: #101010;
  padding-top: 48px;
}

.inner__foot {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
